:root {
    --font: "Roboto", sans-serif;
    --fontOrigin: 1rem;
    --fontSmall: 0.80em;
    --fontMedium: 0.875em;
    --fontNormal: 1em;
    --fontLarge: 1.375em;
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
}
@keyframes zoom {
    from {
        object-position: 0 50%;
    }
    to {
        object-position: 100% 50%;
    }
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-weight: var(--fontOrigin);
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.005rem;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.card {
    position: relative;
    grid-area: card;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: block;
    padding: calc(2vh + 4vw);
    width: 100%;
    width: calc(30vh + 20vw);
    height: calc(60vh + 5vw);
    font-size: var(--fontOrigin);
    border-radius: 16px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}
.card:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    border-radius: 20px;
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
}

.card__image img {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    animation-name: zoom;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.card:hover .card__image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.4;
    -webkit-filter: grayscale(10%) contrast(80%) brightness(1.4);
    filter: grayscale(10%) contrast(80%) brightness(1.4);
}

.card__header {
    display: grid;
    width: 100%;
    height: 200px;
}

.card__profile {
    align-self: center;
    justify-self: center;
    display: block;
    overflow: hidden;
    width: calc(14vh + 4vw);
    height: calc(14vh + 4vw);
    border-radius: 50%;
}

.card__profile img {
    -webkit-transform: scale(1.5, 1.5) translateZ(0);
    transform: scale(1.5, 1.5) translateZ(0);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    mix-blend-mode: normal;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card:hover .card__profile img {
    -webkit-transform: scale(1, 1) translateZ(0);
    transform: scale(1, 1) translateZ(0);
}

.card__body {
    display: grid;
}

.card__name {
    align-self: center;
    justify-self: center;
    margin-bottom: 2px;
    color: white;
    z-index: 1;
    font-size: var(--fontLarge);
    font-weight: var(--fontLight);
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}
.card:hover .card__name {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__job {
    align-self: center;
    justify-self: center;
    display: inline-block;
    z-index: 1;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-align: center;
    letter-spacing: 0.26rem;
    color: rgba(90, 140, 255, 0.6);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}
.card:hover .card__job {
    color: rgba(90, 140, 255, 1);
}
.card__bio {
    position: relative;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    display: block;
    letter-spacing: 0.08rem;
    margin: 22px 0 16px;
    font-size: var(--fontMedium);
    font-weight: var(--fontLight);
    color: rgba(255, 255, 255, 0.65);
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}
.card:hover .card__bio {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
