/* 
COLOR PALLETE
white = #f5f5f5
black1 =  #444444
black2 = #111111
*/
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {outline:none !important}
body,
html {
    margin: 0;
    color: #444444;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
}
@keyframes zoom {
    from {
        object-position: 0 50%;
    }
    to {
        object-position: 100% 50%;
    }
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

html::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    background-color: #000000;
}
